@font-face
{
    font-family: "NxRegular";
    src: url("../../fonts/nx.ttf");
}

h1
{
    color:#fff;
}

h6{
    margin-top: 20px;
}

thead{
    background-color: #1570a6;
    color: #fff;
}

.fixed{
    top: 0;
    position: fixed;
    width: auto;
    display: none;
    border: none;
}

.nueva-center
{
    margin:auto;
    margin-bottom:10px;
    text-align:center;  
}


.nueva-contenido
{
    padding: 0px 15px !important;
}

form
{
    height: 100% !important;
    width: 100% !important;
    margin-top: 40px;
}

.nueva-contenido-principal
{
    display: block;
    height: 100%;
    width: 100%;
}

.nueva-azul
{
	background-color: #1570a6;
	color: #fff;
}

.nueva-carpeta{
    float: right;
}


.nueva-padding
{
	padding: 40px !important;
  margin-top: 50px;
}
.nueva-table > tbody > tr > th, .nueva-table > tbody > tr > td
{
	padding: 10px 15px;
  margin-top: 80px;
}
.nueva-table th
{
    vertical-align:middle !important;
}

.nueva-marginBottom
{
    margin-bottom:30px;
    display:block;
}
.nueva-marginLeft
{
    margin-left: 100px;
}

table.nueva-tabla-chica
{
    max-width:600px;
}
.nueva-marginBottom
{
    margin-bottom:30px;
    display:block;
}
.nueva-table
{
    text-align:left;
}
.table.nueva-table>tbody>tr>th,
.table.nueva-table>thead>tr>th
{
    line-height:1.2em;
}
.nueva-table .nueva-celda-fija
{
    width:1px;
}
.nueva-tabla-pequenia
{
    max-width:860px;
    margin:auto;
}

.nueva-archivos-adjuntos
{
    padding: 40px !important;
}

.nueva-select
{
    width:auto !important;
    display:inline-block;
    margin-right:15px;
}
